region          = "eu-central-1"
project         = "mern-devops"
cluster_name    = "mern-eks"
cluster_version = "1.30"
vpc_cidr        = "10.0.0.0/16"

node_instance_types = ["t3.medium"]
node_desired_size   = 2
node_min_size       = 2
node_max_size       = 4
